# Bu dosyayı secrets.toml adıyla kopyala ve kendi anahtarlarını ekle.
SPOONACULAR_API_KEY = "spoonacular-anahtarin"
AI_API_KEY = "yapay-zeka-api-anahtarin"
YOUTUBE_API_KEY = "youtube-data-api-v3-anahtarin"
